/*
Fontes utilizadas:

1. Elemento H1 = Montserrat

2. Elementos com a classe date = Roboto

3. Elementos com a classe post-content = Open Sans


Cores:

1. Background dos posts = #fffafa

2. Cor da data = #008080
*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: aquamarine;

  width: 70%;
  margin: 50px auto 10px auto;
}

.post-container {
  background-color: #fffafa;
  font-family: "Open Sans", sans-serif;
}

.date {
  color: #008080;
  font-family: "roboto", sans-serif;
  padding: 30px 0px 0px 40px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  padding: 0px 0px 25px 40px;
}

p {
  padding: 0px 0px 25px 40px;
}
