* {
  margin: 0px;
  padding: 0px;
}

.img-content {
  width: 765px;
  height: 400px;
}
.text-content {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 2560px) and (min-width: 1550px) {
  body {
    background-color: rgba(127, 255, 212, 0.322);
}
    .formatacao {
    width: 50%;
    height: auto;
    margin-left: 25%;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    background-color: bisque;
    }
  /* ouu */
/*  .img-content {
    width: 50%;
    height: auto;
    margin-left: 25%;
  }
  .text-content {
    width: 50%;
    height: auto;
    text-align: center;
    margin-left: 25%;
  }
  .title-content {
    width: 50%;
  }
}*/
@media (max-width: 790px) {
  .img-content {
    width: 100%;
    height: auto;

}
@media (max-width: 425px) {
  .img-content {
    width: 100%;
    height: auto;
  }
  .title-content {
    text-align: center;
  }
  .text-content {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .text-content {
    font-size: 14px;
  }
}
