@charset "utf-8";

body {
    background-image: linear-gradient(red, yellow, green);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: maroon;
    background-color: darkgoldenrod;
}

h2 {
    color: darkred;
}
p {
    text-align: justify;
}