* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  background-color: darkgray;
  min-height: 100vh;
  display: flex;
  gap: 0px 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
}
.item {
  width: 100%;
  height: 70px;
  border: 2px solid black;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-basis: 200px; /*A flex-basis propriedade especifica o comprimento inicial de um item flexível.*/
  /* flex-grow: 1; /* 0 e o 1 que fazem ativação e desativação */
}

.item1 {
}

.item2 {
  flex: 1 0 200px;    /*flex-bases
}

.item3 {
}
